body {background-color: #40e0d0;
}
.wow {
  font-weight: bolder;
  float: left;
}

.tool {
  color: red;
}

#winning {
  color:green;
}

.box {
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;

}

img {
  float: right;
}
